/* Typesofmeditation.css */
.cool {
    background-image: url('../Image/marabacki.jpg');
    background-size: cover;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: black;
  }
  
  h1, h2, h3 {
    color:black;
  }
  
  img {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  p {
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  